@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --fonte-principal: 'Inter', sans-serif;
    --cinza1: #3A404E;
    --cinza50: #F9FAFB;
    --cinza200: #EAECF0;
    --cinza400: #98A2B3;
    --cinza500 :#667085;
    --cinza900 :#101828;
    --branco: #fff;
    --vermelho1: #8E2424;
    --rosa: rgba(195, 25, 25, 0.05);
}

/*  */
body {
    font-family: var(--fonte-principal);
    min-height: 100vh;
    font-size: 16px;
}

/* HEADER */
.cabecalho{
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 500;
    align-items: center;
    box-shadow: 0px 0px 3px #bbb;
}

.cabecalho__logo{
    display: flex;
    position: relative;

}

#checkbox__cabecalho{
    display: none;
}

.menu-hamburguer{
    display: none;
    width: 24px;
    height: 24px;
    background-image: url('../img/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
}

.menu-hamburguer__lista{
    background: var(--branco);
    width: 200px;
    border: 1px solid var(--cinza200);
}

.menu-hamburguer__lista .nav__link{
    padding: 1em;
    display: block;
    color: var(--cinza900);
    background-color: var(--rosa)
}

.menu-hamburguer__lista .nav__item{
    border-bottom: 1px solid var(--cinza200);
}

.menu-hamburguer__lista{
    display: none;
    position: absolute;
    top: 120%;
}

.menu-hamburguer__lista .link__cadastrar{
    padding: 1rem 1rem;
    display: none;
    border-radius: none;
    color: var(--branco);
    background-color: var(--vermelho1);
}

.menu-hamburguer__lista .link__entrar{
    color: var(--cinza500);
    display: none;
}

#checkbox__cabecalho:checked ~ .menu-hamburguer__lista{
    display: block;
}


.cabecalho__logo .logo__link {
    display: flex;
    align-items: center;
    gap:8px;
}

.cabecalho__logo .logo__link p{
    font-size: 18px;
    color: var(--cinza1);
}

.cabecalho__nav{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.cabecalho__nav .nav__link{
    color: var(--cinza500);
}

.cabecalho__links .link__entrar{
    color: var(--cinza500);
    padding: 10px 18px 10px 18px;
}

.cabecalho__links .link__cadastrar{
    padding: 10px 18px;
    color: var(--branco);
    background-color: var(--vermelho1);
    border-radius: 8px;
}

/* sobre-nos */
.sobre-nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    margin: 6rem auto 4rem auto;
    width: 60%;
}

.sobre-nos__titulo{
    font-weight: 600;
    color: var(--vermelho1);
}

.sobre-nos__sub-titulo{
    font-size: 48px;
    font-weight: 600;
    color: var(--cinza900);
}

.sobre-nos__texto{
    font-size: 20px;
    color: var(--cinza500);
    text-align: center;
}

/* metricas */
.metricas{
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(190px, 280px));
    justify-content: space-around;
    align-content: center;
    padding: 4rem 0;
    margin: 0 auto;
    width: 90%;
}

.metrica__subtitulo{
    font-size: 60px;
    color: var(--vermelho1);
    margin-bottom: 10px;
    font-weight: 600;
}

.metrica__titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza900);
    margin-bottom: 10px;
}

.metrica__texto{
    color: var(--cinza500);
}

/* vagas-abertas */
.vagas-abertas{
    text-align: center;
}

.vagas-abertas__titulo{
    font-weight: 500;
    color: var(--vermelho1);
    font-size: 14px;
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
}

.vagas-abertas__subtitulo{
    font-size: 36px;
    font-weight: 600;
    color: var(--cinza900);
    margin-bottom: 1.5rem;
}

.vagas-abertas__descricao{
    font-size: 20px;
    color: var(--cinza500);
    margin-bottom: 3.5rem;
}

.vagas-abertas__img{
    width: 70%;
}

.oportunidades{
    width: 60%;   
    margin: 4em auto;
}

.categoria{
    margin-bottom: 4rem;
}

.oportunidades .categoria__titulo{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.oportunidade{
    border: 1px solid var(--cinza200);
    border-radius: 16px;
    padding: 1.5rem 1.5rem 28px 1.5rem;
    margin-bottom: 2rem;
}

.oportunidade__titulo{
    color: var(--cinza900);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.oportunidade__descricao{
    color: var(--cinza500);
    font-weight: 500;
}

.oportunidade__descricao .titulo{
    display: inline-block;
    margin-right: 24px;
}

/* depoimentos */
.depoimentos{
    padding: 4rem 2em;
    margin: 5em auto;
    width: 80%;
    text-align: center; 
    background: var(--rosa);    
    border-radius: 16px;
}

.depoimento__titulo{
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho1);
    margin-bottom: 1.5rem;
}

.depoimento__descricao{
    font-size: 36px;
    font-weight: 500;
    color: var(--cinza900);
}

.colaborador{
    margin-top: 2.5rem;
}

.colaborador__avatar{
    margin-bottom: 0.8rem;
}

.colaborador__nome{
    font-weight: 500;
    color: var(--cinza900);
    margin-bottom: 1rem;
}

.colaborador__cargo{
    font-size: 14px;
    color: var(--cinza500);
}

.contato{
    background-color: var(--cinza50);
    padding: 5rem 0 2rem 0;
    text-align: center;
}

.contato__titulo{
    color: var(--cinza900);
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 1.5rem;
}

.contato__descricao{
    color: var(--cinza500);
    font-size: 20px;
    margin-bottom: 2em;
}

.cadastrar__contato{
    margin-bottom: 3em;
}

.contato__email{
    padding: 12px 14px 12px 16px;
    color: var(--cinza500);
    border: 1px solid var(--cinza400);
    border-radius: 8px;
    margin-right: 8px;
    width: 20%;
    min-width: 300px;
}

.contato__email::placeholder{
    font-size: 16px;
    color: var(--cinza400);
}

.botao__cadastrar{
    background-color: var(--vermelho1);
    color: var(--branco);
    padding: 12px 20px;
    border: 1px solid var(--vermelho1);
    border-radius: 8px;
    font-weight: 500;
}

.contato__rodape{
    color: var(--cinza400);
}

@media screen and (max-width: 1260px) {
    .sobre-nos{
        width: 70%;
    }

    .metricas{
        grid-template-columns: 280px 280px;
        gap: 20px;
        width: 70%;
    }
}

@media screen and (max-width: 1050px) {
    .cabecalho__espaco{
        display:none;
    }

    .sobre-nos{
        width: 80%;
    }
}

@media screen and (max-width: 800px) {

    .cabecalho{
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
    }

    .cabecalho__nav{
        display: none;
    }
    
    .menu-hamburguer{
        display: block;
    }

    .sobre-nos, .metricas{
        width: 95%;
    }

    .vagas-abertas__img, .oportunidades{
        width: 90%;
    }

    .depoimentos{
        width: 90%;
        padding: 4rem 0.5rem;
    }    
}

@media screen and (max-width: 620px) {
    .menu-hamburguer__lista .link__cadastrar, .menu-hamburguer__lista .link__entrar{
        display: block;
    }

    .cabecalho__links{
        display: none;
    }

    .contato__titulo, .depoimento__descricao, .sobre-nos__sub-titulo{
        font-size: 30px;
        text-align: center;
    }

    .metrica__subtitulo{
        font-size: 36px;
    }

    .metricas{
        display: flex;
        flex-direction: column;
        max-width: 300px;
        gap:40px;
    }

    .cadastrar__contato{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}